<!-- crud-inventario.component.html -->
<div class="main-content">
  <h2 class="title">inventario</h2>

  <!-- Crear -->
  <section class="crud-card">
    <h3>crear item</h3>
    <form>
      <input type="text" placeholder="nombre" />
      <input type="text" placeholder="descripcion" />
      <input type="number" placeholder="cantidad" />
      <button type="submit">Crear item</button>
    </form>
  </section>

  <!-- Actualizar -->
  <section class="crud-card">
    <h3>Actualizar</h3>
    <form>
      <input type="text" placeholder="nombre" />
      <input type="text" placeholder="descripcion" />
      <input type="number" placeholder="cantidad" />
      <button type="submit">Actualizar item</button>
    </form>
  </section>

  <!-- Eliminar -->
  <section class="crud-card">
    <h3>Eliminar</h3>
    <form>
      <input type="text" placeholder="nombre" />
      <button type="submit">Eliminar item</button>
    </form>
  </section>
</div>
