<!-- <div class="navbar">
  <div class="logo">
    <a routerLink="/home">
      <img src="SALLogo.png" width="90" height="90" class="d-inline-block align-top" alt="">
    </a>
  </div>
  <ul class="nav-links">
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/registro">Registro</a></li>
    <li><a routerLink="/login">Login</a></li>
  </ul>
</div> -->

<link rel="canonical" href="https://getbootstrap.com/docs/4.6/examples/product/">

<link href="/frontend/public/bootstrap.min.css" rel="stylesheet">

<nav class="navbar navbar-expand-md navbar-dark sticky-top py-1">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item logo">
        <img src="logo_white.png" width="30" height="30" class="d-inline-block align-top" alt="">
    SonArte
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      <li class="nav-item">
        <a class="nav-link" routerLink="/mision">Mision</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/vision">Vision</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contactenos">Contactenos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/registro">Registro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
    </ul>
  </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/frontend/public/bootstrap.bundle.min.js"><\/script>')</script><script src="/frontend/public/bootstrap.bundle.min.js"></script>