<app-sidebar></app-sidebar>

<div class="page-wrapper">
  <main class="content">
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Visión</h1>
        <p class="lead font-weight-normal">
          Ser una marca musical reconocida a nivel internacional por su innovación, autenticidad y compromiso con el talento emergente. En SonArte, aspiramos a construir una comunidad creativa donde la música trascienda fronteras, emocione, y se convierta en un vehículo de expresión cultural que inspire a nuevas generaciones.</p>
      </div>

      <!-- leave images exactly as they are -->
      <div class="product-device d-none d-md-block">
        <img src="GDB.png" width="650" height="1020" alt="">
      </div>
      <div class="product-device product-device-2 d-none d-md-block">
        <img src="GDw.png" width="310" height="860" alt="">
      </div>
    </div>
  </main>

  <app-footer></app-footer>
</div>