<app-header></app-header>
<div class="main-content">
<h1>LISTADO DE INVENTARIO</h1>
<div >

<div class="table-container">
  <table class="table-custom">
    <thead>
      <tr>
        <th>codigo</th>
        <th>nombre</th>
         <th>precio</th>
        <th>cantidad</th>

      </tr>
    </thead>
    <tbody>


      <ng-container *ngFor="let item of datos" >
       <tr (click)="Cargarid(item._id)">
        <td>{{item.codigo}}</td>
        <td>{{item.nombre}} </td>
        <td>{{item.precio | currency:"COP "}}</td>
        <td>{{item.cantidad}}</td>

      </tr>
      </ng-container>
      
    </tbody>
  </table>
  
</div>
</div>
<div class="btnNuevo" (click)="Nuevo()">
  <i class="fa-solid fa-plus"></i>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nuevo item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
    <label for="codigo">codigo </label>
    <input type="text" class="form-control" id="codigo" [(ngModel)]="codigo" [disabled]="IdSeleccionado != '' ">
  </div>
   <div class="form-group" >
    <label for="nombre">nombre </label>
    <input type="nombre" class="form-control" id="nombre" [(ngModel)]="nombre"  [disabled]="IdSeleccionado != '' ">
  </div>
            <div class="form-group" >
    <label for="descripcion">descripcion </label>
    <input type="text" class="form-control" id="descripcion" [(ngModel)]="descripcion">
  </div>
            <div class="form-group">
    <label for="precio">precio </label>
    <input type="text" class="form-control" id="precio" [(ngModel)]="precio">
  </div>
  <div class="form-group">
<label for="cantidad">cantidad </label>
<input type="text" class="form-control" id="cantidad" [(ngModel)]="cantidad">

</div>
      </div>
      <div class="modal-footer">
<button type="button" class="btn btn-primary" (click)="Guardar()" *ngIf="IdSeleccionado == ''">Guardar</button>
 <button type="button" class="btn btn-primary" (click)="Actualizar()" *ngIf="IdSeleccionado != ''">Actualizar</button>
 <button type="button" class="btn btn-danger" (click)="Eliminar()" *ngIf="IdSeleccionado != ''">Eliminar</button>
      </div>
      </div>
    </div>
  </div>
</div>
