<app-sidebar></app-sidebar>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Cada nota cuenta</h1>
    <p class="lead font-weight-normal">En SonArte, vivimos la música. Ofrecemos instrumentos y equipo de calidad para músicos de todos los niveles, porque cada nota cuenta.</p>
  </div>
  <div class="product-device d-none d-md-block">
    <img src="GDB.png" width="650" height="1020" alt="">
  </div>
  <div class="product-device product-device-2 d-none d-md-block">
    <img src="GDw.png" width="310" height="860" alt="">
  </div>
</div>

<div class="container">
  <h1 class="miramarcas">Mira nuestras marcas asociadas</h1>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Fender</h2>
      <p class="lead">Fender es una marca icónica de guitarras y amplificadores, reconocida mundialmente por su calidad y legado.</p>
    </div>
    <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
      <div class="fenderlogo">
        <img src="Fender_logo.png" width="400" height="153" alt="">
      </div>

      <div class="fenderlogo-mobile">
        <img src="Fender_logo.png" width="200" height="76" alt="">
      </div>
      <a class="btn btn-outline-secondary" href="./Instrumentos.html">Ver productos</a>
    </div>
  </div>
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Tagima</h2>
      <p class="lead">Tagima es una marca brasileña reconocida por ofrecer guitarras y bajos con gran calidad y precio accesible.</p>
    </div>
    <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
      <div class="fenderlogo">
        <img src="Tagima_logo.png" width="400" height="153" alt="">
      </div>

      <div class="fenderlogo-mobile">
        <img src="Tagima_logo.png" width="200" height="76" alt="">
      </div>
      <a class="btn btn-outline-secondary botonblack" href="./Instrumentos.html">Ver productos</a>
    </div>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">NUX</h2>
      <p class="lead">NUX se especializa en pedales de efectos, amplificadores y procesadores digitales.</p>
    </div>
    <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
      <div class="fenderlogo">
        <img src="nux_logo.png" width="400" height="153" alt="">
      </div>

      <div class="fenderlogo-mobile">
        <img src="nux_logo.png" width="200" height="76" alt="">
      </div>
      <a class="btn btn-outline-secondary botonblack" href="./Instrumentos.html">Ver productos</a>
    </div>
  </div>
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Gibson</h2>
      <p class="lead">Gibson es una de las marcas de guitarras más legendarias del mundo, famosa por su calidez y tono potente.</p>
    </div>
    <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
      <div class="fenderlogo">
        <img src="Gibson_Guitar_logo.svg.png" width="400" height="153" alt="">
      </div>

      <div class="fenderlogo-mobile">
        <img src="Gibson_Guitar_logo.svg.png" width="200" height="76" alt="">
      </div>
      <a class="btn btn-outline-secondary" href="./Instrumentos.html">Ver productos</a>
    </div>
  </div>
</div>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Instrumentos destacados</h1>
  <p class="lead">Descubre nuestra selección de instrumentos destacados, elegidos por su calidad, sonido y popularidad entre músicos.
Renueva tu sonido con lo mejor en guitarras, teclados, baterías y más.</p>
</div>

<div class="container">
  <!-- Card deck flex grid -->
  <div class="card-deck mb-3 text-center">
    <ng-container *ngFor="let item of datos">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">{{item.nombre}}</h4>
        </div>
        <div class="card-body">
          <div class="imagenbajo">
            <img src="{{peticion.urlreal}}/imagenes/{{item._id}}.png" class="imagenmuestra">
            <h4>Cantidad: {{item.cantidad}}</h4>
            <h4>{{item.precio | currency: 'COP $'}}</h4>
          </div>
          <button type="button" class="btn btn-lg btn-block btn-outline-primary">
            Añadir al carrito
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<app-footer></app-footer>