<footer class="footer">
  <div class="footer-content">
    <h3 class="footer-title">SAL - Sistema de Administración Logística</h3>
    <p class="footer-text">Optimiza, gestiona y controla tus procesos logísticos con eficiencia.</p>
    <div class="footer-links">
      <a routerLink="/registro">Registro</a>
      <a routerLink="/login">Login</a>
      <a routerLink="/home">home</a>
    </div>
  </div>
  <div class="footer-bottom">
    &copy; 2025 SAL | Todos los derechos reservados
  </div>
</footer>

