<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <h3>Quienes somos</h3>
                <p>En SonArte, vivimos la música. Ofrecemos instrumentos y equipo de calidad para músicos de todos los niveles, porque cada nota cuenta.</p>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <h3>Horarios</h3>
                <div class="horarios">8:00 am, 5:00 Pm Lunes</div>
                <div class="horarios">8:00 am, 5:00 Pm Lunes</div>
                <div class="horarios">8:00 am, 5:00 Pm Lunes</div>
                <div class="horarios">8:00 am, 5:00 Pm Lunes</div>
                <div class="horarios">8:00 am, 5:00 Pm Lunes</div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <h3>Destinos</h3>
                <div class="destinos" routerLink="/Mision">Mision</div>
                <div class="destinos" routerLink="/Vision">Vision</div>
                <div class="destinos" routerLink="/Contactenos">Contactenos</div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <h3>Suscribete</h3>
                <p>Suscribete</p>
            </div>
        </div>
    </div>
</footer>